{% extends "base.jinja2" %}

{% block social %}
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="TF-Rules.info FAQ"/>
  <meta property="og:description" content="TF-Rules.info provides an easy way to access, and share, Transformers the Trading Card Game FAQs, Rules Roundups, and additional community FAQS. "/>
  <meta property="og:url" content="https://tftcg.info/{{ filename }}"/>
  <meta property="og:image" content="https://faq.tf-rules.info/images/Aequitas-logo-500x310.jpg"/>
  <meta property="og:image:alt" content="Aequitas Logo"/>
  <meta property="og:image:width" content="500"/>
  <meta property="og:image:height" content="310"/>
{% endblock %}
